:root {
    --bg-colour: #fef6e4;
    --btn-bg-colour: #f582ae;
    --btn-text-colour: #001858;
    --text-colour: #172c66;
    --border-colour: #001858;
    --box-shadow-colour: #001858;
    --seconday-colour: #8bd3dd;
    --main-colour: #f3d2c1;
}

@font-face {
    font-family: "Quicksand";
    src: url("./fonts/Quicksand/Quicksand-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lora";
    src: url("./fonts/Lora/Lora-VariableFont_wght.ttf") format("truetype");
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}

body {
    height: 100vh;
    margin: 0 auto;
    padding: clamp(15px, 3em, 20px);
    width: clamp(250px, 50%, 900px);
    text-align: center;
    background-color: var(--bg-colour);
    color: var(--text-colour);
}

h1 {
    font-family: "Lora", sans-serif;
    font-size: clamp(32px, 3.5rem, 48px);
    color: #001858;
}

/*Task Input Section*/

#task-form {
    display: flex;
    justify-content: center;
}

#taskSection {
    display: flex;
    overflow: hidden;
    width: 90%;
    margin-bottom: 1em;
    border: 3px solid var(--border-colour);
    border-radius: 10px;
    box-shadow: 5px 6px var(--box-shadow-colour);
    transition:
        box-shadow 220ms ease,
        transform 220ms ease;
}

#taskSection:hover {
    transform: translateY(-1px);
    box-shadow: 7px 8px 0.6px rgb(0, 24, 88, 0.95);
}

#task-input,
#add-task-btn {
    font-family: "Quicksand", sans;
    font-size: clamp(16px, 1.25rem, 21px);
    font-weight: regular;
    border: none;
    background-color: var(--bg-colour);
    padding: 0.4em 0;
}

#task-input {
    flex: 1;
    text-align: center;
    width: auto;
    color: var(--btn-text-colour);
}

#task-input:focus,
#add-task-btn:focus,
li button:focus {
    outline: none;
}

#add-task-btn {
    width: 120px;
    border-left: 3px solid var(--border-colour);
    text-align: center;
    background-color: var(--btn-bg-colour);
    color: var(--text-colour);
}

#add-task-btn:hover {
    cursor: pointer;
    font-weight: 700;
}

/*Task List Section*/

#task-list {
    list-style: none;
    text-align: left;
    padding: 1em 2em;
    background-color: var(--main-colour);
    border: 3px solid var(--border-colour);
    border-radius: 10px;
    box-shadow: 5px 6px var(--box-shadow-colour);
}

li {
    user-select: none;
    padding: 0.8em;
    margin: 1.5em auto;
    display: flex;
    gap: 10px;
    background-color: var(--bg-colour);
    border: 3px solid var(--border-colour);
    border-radius: 10px;
    box-shadow: 5px 6px var(--box-shadow-colour);
    text-decoration: 0 line-through transparent;
    transition:
        box-shadow 220ms ease,
        transform 220ms ease,
        background-color 300ms ease-out,
        text-decoration 300ms ease-out;
}

li:hover {
    transform: translateY(-1px);
    box-shadow: 7px 8px 0.6px rgb(0, 24, 88, 0.95);
}

li.completed,
li.completed button {
    background-color: var(--seconday-colour);
    text-decoration: 2px line-through var(--text-colour);
}

li span {
    font-family: "Quicksand", sans;
    font-size: clamp(16px, 1.25rem, 21px);
    font-weight: regular;
}

li img {
    width: 25px;
}

li button {
    border: none;
    background-color: var(--bg-colour);
    padding: 0px;
    margin: 0px;
    transition:
        background-color 300ms ease-out,
        text-decoration 300ms ease-out;
}

li button:hover {
    cursor: pointer;
}

li .delete-btn {
    margin-left: auto;
}
